/* Markdown editor preview - heading sizes */
.editor-preview h1,
.editor-preview h2,
.editor-preview h3,
.editor-preview h4,
.editor-preview h5,
.editor-preview h6 {
    font-weight: 700;
    font-size: 0.9rem !important;
}

.editor-preview h1 {
    font-size: 1rem !important;
}

.editor-preview h2 {
    font-size: 0.95rem !important;
}

.editor-preview h3 {
    font-size: 0.9rem !important;
}
